<div ng-controller="booksController as books" class="bookshow">


  <div class="appname">
    <h1> TopShelf Imaginations </h1>
  </div>
  <button ng-click="users.signout()" class="sign_out_button"> Sign Out </button>

  <div class="index">
    <div ng-repeat="book in books.mybooks" class="book_index">
        <h3> {{book.title}} </h3>
        <h4> {{book.author}} </h4>
        <h4> {{book.genre}}</h4>
        <button ng-click="books.showOne(book)" type="button">Show Full Information</button>
        <button ng-click="books.deleteBook(book)" type="button">Delete</button>

    </div>
  </div>

  <section class="show_div">

    <div class="Book_Info">
      <h1> Book Information </h1>
      <h3>Title: {{books.oneBook.title}} </h3>
      <p>Author: {{books.oneBook.author}}</p>
      <p>Publisher: {{books.oneBook.publisher}}</p>
      <p>Year Published: {{books.oneBook.published_year}}</p>
      <p>Genre: {{books.oneBook.genre}}</p>
      <p>My Book Category: {{books.oneBook.category}}</p>
      <button ng-click="books.EditBookForm = !books.EditBookForm" name="EditBook"> Edit This Book </button>
    <div>

    <div class="User_Container"  ng-show="books.EditBookForm">
        <form ng-submit="books.updateBook(books.oneBook)">
          <h3 ng-submit=""> Edit This Book </h3>
          <input ng-model="books.oneBook.title" type="text" name="title" placeholder="book title"><br>
          <input ng-model="books.oneBook.author" type="text" name="author" placeholder="author"><br>
          <input ng-model="books.oneBook.publisher" type="text" name="publisher" placeholder="publisher"><br>
          <input ng-model="books.oneBook.book_img_url" type="text" name="book_img_url" placeholder="book image url"><br>
          <input ng-model="books.oneBook.published_year" type="text" name="published_year" placeholder="year published"><br>
          <input ng-model="books.oneBook.genre" type="text" name="genre" placeholder="genre"><br>
          <select ng-model="books.oneBook.category">
              <option ng-repeat="x in category"> {{x}} </option>
          </select><br>
          <input type="submit">
        </form>
    </div>

  </section>


</div>
