
<div class="contact">
  <div class="appname">
    <h1> Contact Me </h1>
  </div>
  <button ng-click="users.signout()" class="sign_out_button"> Sign Out </button>


<div>
  <div class="social_media">
      <h1 class="appname"> Find me at my social media! </h1>
    <a class="linkedin" href="https://www.linkedin.com/pub/david-paolo-chua/58/116/773">
          <img src="./images/LinkedIn.png"  alt="View David Paolo Chua's profile on LinkedIn">
    </a>
    <a class="github" href="https://github.com/david-chua">
      <img src= "./images/Github.png" alt="David's Github">
    </a>
    <a class="instagram" href="https://www.instagram.com/dp_chua/">
      <img src="./images/Instagram.png" alt="David's Instagram">
    </a>
    <a class="mail" href="mailto:dp_chua@hotmail.com?subject=feedback"><img src="./images/Email.png" alt="Email me">
    </a>

  </div>


</div>
</div>
