<div class="homepagediv">
    <div class="signup">
      <h1> Sign Up </h1>
    </div>

    <div id="signup">
      <form ng-submit='users.signup(user)'>
        <label for="name"> Name: </label><br>
        <input ng-model="user.name" type="name" placeholder="What's your name?"><br>
        <label for="email"> Email: </label><br>
        <input ng-model="user.email"type="email" placeholder="Type in your email address"><br>
        <labe for="password"> Password: </label><br>
        <input ng-model="user.password" type="password" placeholder="Whats' your password?"><br>
        <button ng-click="users.signup(user)" class="sign_up_button" type="submit" name="signup"> Sign Up </button>
      </form>
    </div>

  </div>
