<div ng-controller="booksController as books" class="usershow">

  <div class="appname_user">
    <h1> TopShelf Imagination </h1>
  </div>
<button ng-click="users.signout()" class="sign_out_button"> Sign Out </button>
<div class="Add">
  <h1 ng-click=""> Add a Book </h1>
</div>

<div class="User_Container">
  <h1> Render Stuff Here </h1>
</div>

<section class="Book_Category">
  <div id="category_1" class="category"> I love this book</div>
  <div id="category_2" class="category"> I need to read this </div>
  <div id="category_3" class="category"> Not for me </div>
  <div id="category_4" class="category"> Books to donate/sell</div>
</section>

</div>
